/* CODE BY EXTEZZY */
h1,
h2,
h3 {
  margin-top: 0px; 
  margin-bottom: 0px;
}
ul,
ol {
   margin-top: 0px; 
   margin-bottom: 0px; 
}

/* reset css start */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

[class^="game-"],
[class*=" game-"] {
  display: block;
  width: 22px;
  height: 22px;
  background-size:contain;
  background-repeat: no-repeat;
}
.game-css{background-image:url(/img/lh/games/css.png);}
.game-cs{background-image:url(/img/lh/games/cs.png);}
.game-cssold{background-image:url(/img/lh/games/cssold.png);}
.game-mc{background-image:url(/img/lh/games/mc.png);}
.game-samp{background-image:url(/img/lh/games/samp.png);}
.game-csgo{background-image:url(/img/lh/games/csgo.png);}
.game-tf2{background-image:url(/img/lh/games/tf2.png);}
.game-l4d{background-image:url(/img/lh/games/l4d.png);}
.game-l4d2{background-image:url(/img/lh/games/l4d2.png);}
.game-dods{background-image:url(/img/lh/games/dods.png);}
.game-gmod{background-image:url(/img/lh/games/gmod.png);}
.game-mta{background-image:url(/img/lh/games/mta.png);}
.game-cszo{background-image:url(/img/lh/games/cszo.png);}
.game-hldm{background-image:url(/img/lh/games/hldm.png);}
.game-gm{background-image:url(/img/lh/games/gm.png);}
.game-kf{background-image:url(/img/lh/games/kf.png);}

ul, ol {
	list-style: none;
}

button {
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {


}

body, body a {
	color: #111;
}

a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

img {
	border: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	padding: 0;
	border-top: 1px dashed #D8D8D8;
	margin: 10px 0;
}

input[type="submit"], label {
	cursor: pointer;
}

input, select {
	border: 0;
	background: 0;
}

.clr {
	clear: both;
}

.serv_options a, .server_list li .right .list_header a, .server_list li .right .list_header img, .server_list li, .server_list li img[class="map_serv"], .grafik_full, .btns_of label, #server_setting ul li, .banners li, .left, .top_menu li, .foot_menu li, .prime_block li, .select_left ul li span {
	float: left;
}

.right {
	float: right;
}

.center, #wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* reset css end */

.helv_roman, .radio_knopka, .restart {
	font-family: HelveticaNeueCyrRoman, Arial, Verdana, sans-serif;
}

.helv_c_l {
	font-family: HelveticaNeueCyrLight, Arial, Verdana, sans-serif;
}

.dr_sans {
	font-family: DroidSans, Arial, Verdana, sans-serif;
}

.helv_c_t {
	font-family: HelveticaNeueCyrThin, Arial, Verdana, sans-serif;
}

.paginator .pages a, .paginator .pages span, .news_date, .news_block p, .all_news, .prime_block li p, .speed_bar, .speed_bar a, .select-style select, .select_left ul li input, .full_pay, #server_setting ul li a, .add_ress, .p_pay, .grafik_title, .server_list li .right .list_header span, .adress, .prev_page, .next_page, .select_left ul li {
	font-family: Tahoma, Arial, sans-serif;
}

@font-face {
	font-family: HelveticaNeueCyrThin; 
	src: url(/fonts/HelveticaNeueCyr-Thin.otf);
}

@font-face {
	font-family: HelveticaNeueCyrRoman; 
	src: url(/fonts/HelveticaNeueCyr-Roman.otf);
}

@font-face {
	font-family: DroidSans; 
	src: url(/fonts/DroidSans.ttf);
}

@font-face {
	font-family: HelveticaNeueCyrLight; 
	src: url(/fonts/HelveticaNeueCyr-Light.otf);
}

#top_header {
	height: 56px;
	background: url(/img/lh/pattern.png) repeat-x;
}

#bottom_header {
	height: 42px;
	background: #0d0d0d;
}

#logo {
	display: block;
	transition: opacity 0.4s;
	margin-top: 29px;
	width: 200px;
	height: 44px;
	background: url(/img/lh/logo.png) no-repeat;
}

#logo:hover {
	opacity: 0.4;
}

#login_bar {
	margin-top: 12px;
}

.search_input {
	border: 1px solid rgba(255, 255, 255, 0.01);
	height: 31px;
	border-radius: 4px;
	width: 167px;
	overflow: hidden;
	margin-right: 8px;
	background: url(/img/lh/input_pattern.png) repeat-x;
}

.search_input .icon {
	height: 31px;
	width: 32px;
	background: #343434;
	background: -moz-linear-gradient(top, #343434 0%, #2d2d2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#2d2d2d));
	background: -webkit-linear-gradient(top, #343434 0%,#2d2d2d 100%);
	background: -o-linear-gradient(top, #343434 0%,#2d2d2d 100%);
	background: -ms-linear-gradient(top, #343434 0%,#2d2d2d 100%);
	background: linear-gradient(to bottom, #343434 0%,#2d2d2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#2d2d2d',GradientType=0 );
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.24);
}

.search_input .icon i {
	display: block;
	margin: 0 auto;
	margin-top: 9px;
}

.icon_user {
	background: url(/img/lh/log_icons.png) no-repeat;
	width: 15px;
	height: 14px;
}

.icon_pass {
	background: url(/img/lh/log_icons.png) no-repeat right;
	width: 14px;
	height: 14px;
}

.search_input input[type="text"], .search_input input[type="password"] {
	padding: 0 10px;
	display: block;
	height: 31px;
	width: 115px;
	color: #999;
	font-size: 11px;
}

#login_bar input[type="submit"] {
	width: 39px;
	height: 31px;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3), inset -5px -3px 5px rgba(255, 255, 255, 0.17);
	background: #e2940c;
	background: -moz-linear-gradient(top, #e2940c 0%, #d2650d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2940c), color-stop(100%,#d2650d));
	background: -webkit-linear-gradient(top, #e2940c 0%,#d2650d 100%);
	background: -o-linear-gradient(top, #e2940c 0%,#d2650d 100%);
	background: -ms-linear-gradient(top, #e2940c 0%,#d2650d 100%);
	background: linear-gradient(to bottom, #e2940c 0%,#d2650d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2940c', endColorstr='#d2650d',GradientType=0 );
	border-radius: 4px;
	margin-top: 1px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#login_bar input[type="submit"]:hover {
	box-shadow: none;
	background: #d2650d;
	background: -moz-linear-gradient(top,  #d2650d 0%, #e2940c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2650d), color-stop(100%,#e2940c));
	background: -webkit-linear-gradient(top,  #d2650d 0%,#e2940c 100%);
	background: -o-linear-gradient(top,  #d2650d 0%,#e2940c 100%);
	background: -ms-linear-gradient(top,  #d2650d 0%,#e2940c 100%);
	background: linear-gradient(to bottom,  #d2650d 0%,#e2940c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2650d', endColorstr='#e2940c',GradientType=0 );
}

.reg_t {
	font-size: 11px;
	color: #d8780b;
	display: block;
	border-left: 1px dotted #4a4a4a;
	padding-left: 10px;
	margin: 12px 0 0 10px;
}

.reg_t:hover {
	text-decoration: underline;
}

.top_menu li a {
	font-weight: bold;
	color: #afafaf;
	text-transform: uppercase;
	line-height: 42px;
	background: url(/img/lh/sep.png) no-repeat left;
	display: block;
	padding: 0 15px;
}

.top_menu li a:hover {
	background: #e18f0b;
	background: -moz-linear-gradient(top, #e18f0b 0%, #d36408 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e18f0b), color-stop(100%,#d36408));
	background: -webkit-linear-gradient(top, #e18f0b 0%,#d36408 100%);
	background: -o-linear-gradient(top, #e18f0b 0%,#d36408 100%);
	background: -ms-linear-gradient(top, #e18f0b 0%,#d36408 100%);
	background: linear-gradient(to bottom, #e18f0b 0%,#d36408 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e18f0b', endColorstr='#d36408',GradientType=0 );
	color: #fff;
	text-shadow: 0 1px 0 #bb5b0c;
	box-shadow: inset 0 5px 0 #463c34, inset 0 1px 0 rgba(255, 255, 255, 0.28);
}



.wrapper_line {
	background: url(/img/lh/input_pattern.png) repeat-x;
	height: 5px;
	margin-bottom: -1px;
	border-top: 5px solid #d46508;
}

.jms-slideshow {
	position: relative;
	height: 235px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.jms-wrapper {
	height: 235px;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}
.step { 
	height: 235px;
	width: 1000px;
	display: block;
	z-index: 9;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	z-index: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content{
	position: relative;
	clear: both;
}

.jms-content img {
	width: 1000px;
	height: 235px;
}

.jms-dots{
	position: absolute;
	text-align: center;
	bottom: 16px;
	right: 30px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span{
	display: inline-block;
	position: relative;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
	border: 4px solid #fefefe;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
}
.jms-dots span.jms-dots-current:after{
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	left: 0;
	border-radius: 50%;
	background: #e5a54a;
	background: -moz-linear-gradient(top, #e5a54a 0%, #e5a54a 50%, #dd880d 51%, #dd880d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5a54a), color-stop(50%,#e5a54a), color-stop(51%,#dd880d), color-stop(100%,#dd880d));
	background: -webkit-linear-gradient(top, #e5a54a 0%,#e5a54a 50%,#dd880d 51%,#dd880d 100%);
	background: -o-linear-gradient(top, #e5a54a 0%,#e5a54a 50%,#dd880d 51%,#dd880d 100%);
	background: -ms-linear-gradient(top, #e5a54a 0%,#e5a54a 50%,#dd880d 51%,#dd880d 100%);
	background: linear-gradient(to bottom, #e5a54a 0%,#e5a54a 50%,#dd880d 51%,#dd880d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5a54a', endColorstr='#dd880d',GradientType=0 );
}

.slide_line {
	background: rgba(0, 0, 0, 0.5);
	height: 118px;
	position: absolute;
	right: 0;
	left: 0;
	padding: 0 30px;
	margin-top: 55px;
}

.slide_box {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 235px;
}

.slide_z {
	font-size: 22px;
	color: #151515;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #e3c066;
	background: #e3c56e;
	background: -moz-linear-gradient(top, #e3c56e 0%, #b3763c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3c56e), color-stop(100%,#b3763c));
	background: -webkit-linear-gradient(top, #e3c56e 0%,#b3763c 100%);
	background: -o-linear-gradient(top, #e3c56e 0%,#b3763c 100%);
	background: -ms-linear-gradient(top, #e3c56e 0%,#b3763c 100%);
	background: linear-gradient(to bottom, #e3c56e 0%,#b3763c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c56e', endColorstr='#b3763c',GradientType=0 );
	display: block;
	border-radius: 4px;
	line-height: 55px;
	padding: 0 20px;
	margin-top: 33px;
}

.slide_z:hover {
	background: #b3763c;
	background: -moz-linear-gradient(top,  #b3763c 0%, #e3c56e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3763c), color-stop(100%,#e3c56e));
	background: -webkit-linear-gradient(top,  #b3763c 0%,#e3c56e 100%);
	background: -o-linear-gradient(top,  #b3763c 0%,#e3c56e 100%);
	background: -ms-linear-gradient(top,  #b3763c 0%,#e3c56e 100%);
	background: linear-gradient(to bottom,  #b3763c 0%,#e3c56e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3763c', endColorstr='#e3c56e',GradientType=0 );
}

.slide_top_title {
	color: #fff;
	font-size: 34px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	min-width: 500px;
	background: url(/img/lh/slide_light.png) no-repeat center bottom;
	padding-bottom: 37px;
	margin-top: 20px;
	margin-bottom: -20px;
}

.slide_bottom_title {
	font-size: 30px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	color: #FFD384;
}

#main_content {
	padding: 15px;
}

#sidebar {
	width: 257px;
}

#content_right {
	width: 710px;

}

#left_menu {
	border-top-left-radius: 6px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	border-bottom-left-radius: 6px;
}

#left_menu ul li {
	background: url(/img/lh/menu_bottom.png) repeat-x bottom;
	height: 44px;
}

#left_menu ul li a {
	background: url(/img/lh/menu_pattern.png) repeat-x;
	display: block;
	line-height: 39px;
	padding: 0 20px;
	height: 38px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

#left_menu ul>.active{
	background: #e2930b;
	background: -moz-linear-gradient(top, #e2930b 0%, #d36408 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2930b), color-stop(100%,#d36408));
	background: -webkit-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: -o-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: -ms-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: linear-gradient(to bottom, #e2930b 0%,#d36408 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2930b', endColorstr='#d36408',GradientType=0 );
	text-shadow: 0 1px 0 #bb5b0c;
	display: block;
	line-height: 39px;
	padding: 0 20px;
	height: 38px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

#left_menu ul li a:hover {
	text-decoration: none;
	background: #e2930b;
	background: -moz-linear-gradient(top, #e2930b 0%, #d36408 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2930b), color-stop(100%,#d36408));
	background: -webkit-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: -o-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: -ms-linear-gradient(top, #e2930b 0%,#d36408 100%);
	background: linear-gradient(to bottom, #e2930b 0%,#d36408 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2930b', endColorstr='#d36408',GradientType=0 );
	text-shadow: 0 1px 0 #bb5b0c;
}

#left_menu ul li:last-child {
	background: none !important;
	height: 33px;
}

.block_border {
	margin-bottom: 10px;
	background: #eeece7;
	padding: 1px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.block_content {
	border: 1px solid #dbdbdb;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	background: #f7f6f4;
	padding: 13px;
}

.block_title {
	color: #646464;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.content_block {
	border-bottom-right-radius: 6px !important;
	border-top-right-radius: 6px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.content_block>.block_content {
	border-bottom-right-radius: 6px !important;
	border-top-right-radius: 6px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.news_block {
	border-bottom: 1px dotted #838383;
	padding-bottom: 10px;
	margin: 0 35px 10px 0;
	word-wrap: break-word;
}

.news_top h2 a {
	display: block;
	font-size: 16px;
	color: #d8780b;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.05);
}

.news_top h2 a:hover {
	color: #292929;
}

.news_date {
	font-size: 11px;
	color: #646464;
	border-left: 1px dotted;
	padding-left: 9px;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	margin: 3px 0 0 10px;
}

.news_block p {
	color: #535353;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	line-height: 15px;
	margin-top: 7px;
}

.all_news {
	color: #535353;
	text-decoration: underline;
	display: inline-block;
	margin-top: 17px;
}

.full_block {
	border-radius: 6px !important;
}

.full_block>.block_content {
	border-radius: 6px !important;
}

.prime_block {
	overflow: hidden;
}

.prime_block li {
	width: 216px;
	margin-right: 20px;
	height: 75px;
}

.prime_block li i {
	display: block;
	width: 31px;
	height: 31px;
	margin-right: 10px;
}

.prime_block li span {
	display: block;
	font-size: 15px;
	color: #5a5a5a;
	text-transform: uppercase;
}

.prime_block li p {
	font-size: 11px;
	color: #5a5a5a;
	margin-top: 2px;
	line-height: 13px;
}

.prime_set {
	background: url(/img/lh/prime.png) no-repeat;
}

.prime_close {
	background: url(/img/lh/prime.png) no-repeat -31px;
}

.prime_plus {
	background: url(/img/lh/prime.png) no-repeat -62px;
}

.prime_money {
	background: url(/img/lh/prime.png) no-repeat -93px;
}

.prime_block .second {
	margin-right: 0;
}

.block_left {
	width: 175px;
}

.block_prime_sep {
	height: 52px;
	border-right: 1px dotted #838383;
	margin-left: 10px;
}

.footer_line {
	background: url(/img/lh/input_pattern.png) repeat-x;
	height: 5px;
	margin-bottom: -1px;
	border-bottom: 5px solid #d46508;
}

footer {
	height: 141px;
	padding: 0 35px;
	background: url(/img/lh/footer.png) repeat-x;
}

.foot_menu {
	margin-top: 40px;
}

.foot_menu li a {
	display: block;
	font-weight: bold;
	color: #afafaf;
	text-transform: uppercase;
	border-right: 1px solid #2d2d2d;
	padding-right: 14px;
	margin-right: 14px;
}

.foot_menu li a:hover {
	color: #d8780b;
}

.foot_text {
	line-height: 15px;
	color: #9d9d9d;
	margin-top: 30px;
}

.banners {
	display: table;
}

.banners li {
	padding: 8px;
	width: 88px;
	height: 31px;
}

.banners .one {
	border-right: 1px dotted #454545;
	border-bottom: 1px dotted #454545;
}

.banners .two {
	border-bottom: 1px dotted #454545;
}

.banners .three {
	border-right: 1px dotted #454545;
}

.b_right {
	margin-top: -29px;
}

.speed_bar {
	border: 1px solid #dbdbdb;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-bottom: 1px;
	background: #f7f6f4;
	padding: 13px;
	color: #afafaf;
}
.no-top-radius{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.no-top-radius .block_content {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.speed_bar a {
	background: url(/img/lh/arrow.png) no-repeat right;
	padding-right: 13px;
	color: #535353;
}

.speed_bar a:hover {
	text-decoration: underline;
}

.speed_bar span {
	color: #555555;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.select-style {
	padding: 0;
	margin: 0;
	width: 186px;
	overflow: hidden;
	background: url(/img/lh/select.png) no-repeat 90% 50%;
	float: right;
	height: 34px;
	line-height: 34px;
}

.select-style select {
	padding: 5px 8px;
	width: 168px;
	cursor: pointer;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 13px;
	color: #535353;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.06);
}

.select-style select:focus {
	outline: none;
}

.select_left {
	width: 338px;
}

.select_left ul li {
	height: 34px;
	background: #e5e2db;
	border-radius: 6px;
	margin-bottom: 10px;
	overflow: hidden;
}

.select_left ul li span {
	display: block;
	line-height: 34px;
	padding: 0 10px;
	background: #3d3d3d;
	color: #fff;
	width: 131px;
	border-right: 1px solid #2c2c2c;
}

.select_left ul li input {
	color: #535353;
	width: 160px;
	float: right;
	display: block;
	text-align: right;
	padding-right: 18px;
	height: 33px;
}

.right_select {
	margin-top: 71px;
}

.pay_box {
	width: 480px;
	background: #e5e2db;
	border-radius: 6px;
	padding: 20px;
	margin-top: 7px;
}

.big_arrow {
	width: 35px;
	height: 115px;
	background: url(/application/public/img/big_arrow.png) no-repeat;
	margin-right: 10px;
}

.pay_header {
	display: block;
	font-size: 18px;
	color: #535353;
	padding-bottom: 10px;
	border-bottom: 1px dotted #4a4a4a;
	margin-bottom: 10px;
}

.pay_box b[class="dr_sans"] {
	font-size: 15px;
	font-weight: bold;
	color: #d8780b;
}

.full_pay {
	font-size: 11px;
	color: #60605f;
	border-left: 1px dotted #4a4a4a;
	padding-left: 10px;
	margin-left: 5px;
}

.pay_box input[type="submit"] {
	display: block;
	height: 42px;
	border-radius: 3px;
	font-size: 14px;
	text-shadow: 0 1px 0 #bb5b0c;
	text-transform: uppercase;
	background: #e2940c;
	background: -moz-linear-gradient(top, #e2940c 0%, #d36308 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2940c), color-stop(100%,#d36308));
	background: -webkit-linear-gradient(top, #e2940c 0%,#d36308 100%);
	background: -o-linear-gradient(top, #e2940c 0%,#d36308 100%);
	background: -ms-linear-gradient(top, #e2940c 0%,#d36308 100%);
	background: linear-gradient(to bottom, #e2940c 0%,#d36308 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2940c', endColorstr='#d36308',GradientType=0 );
	color: #fff;
	float: right;
	width: 99px;
	margin-top: 8px;
}

.pay_box input[type="submit"]:hover {
	background: #d36308;
	background: -moz-linear-gradient(top,  #d36308 0%, #e2940c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d36308), color-stop(100%,#e2940c));
	background: -webkit-linear-gradient(top,  #d36308 0%,#e2940c 100%);
	background: -o-linear-gradient(top,  #d36308 0%,#e2940c 100%);
	background: -ms-linear-gradient(top,  #d36308 0%,#e2940c 100%);
	background: linear-gradient(to bottom,  #d36308 0%,#e2940c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d36308', endColorstr='#e2940c',GradientType=0 );
}

.left_cel {
	width: 335px;
}

#server_setting {
}

#server_setting ul {
	display: table;
	margin: 0 auto;
}

#server_setting ul li {
	border-right: 1px dotted #4a4a4a;
	padding-right: 10px;
	margin-right: 10px;
}

#server_setting ul li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}

#server_setting ul li a {
	display: block;
	color: #535353;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	padding-left: 22px;
	line-height: 15px;
}

#server_setting ul li a:hover {
	color: #d8780b;
}

#server_setting ul li .serv_sett {
	background: url(/img/lh/serv_sett.png) no-repeat left;
}

#server_setting ul li .add_slot {
	background: url(/img/lh/add_slot.png) no-repeat left;
}

#server_setting ul li .ftp_manager {
	background: url(/img/lh/ftp_manager.png) no-repeat left;
}

#server_setting ul li .reposit {
	background: url(/img/lh/reposit.png) no-repeat left;
}

#server_setting ul li .web_adm {
	background: url(/img/lh/web_adm.png) no-repeat left;
}

#server_setting ul li .web_cons {
	background: url(/img/lh/web_cons.png) no-repeat left;
}

#server_setting ul li .fast_dl_web {
	background: url(/img/lh/fast_dl_web.png) no-repeat left;
}

.g_server ul li {
	font-weight: bold;
	color: #646464;
	padding-bottom: 5px;
	border-bottom: 1px dotted #4a4a4a;
	margin-bottom: 6px;
	display: table;
}

.g_server ul li b {
	color: #d8780b;
}

.g_server ul li img {
	width: 9px;
	height: 9px;
	margin-right: 4px;
}

.g_server ul li span {
	color: #d8780b;
}

.add_ress {
	font-size: 10px !important;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.game_photo {
	width: 161px;
	height: 118px;
	background: url(/img/lh/footer.png) repeat-x;
	padding: 5px;
	margin-right: 8px;
}

.game_photo img {
	width: 151px;
	height: 108px;
}

.server_map {
	display: inline-block;
	border: 1px solid #dcdcdb;
	padding: 1px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	height: 27px;
}

.map_border {
	background: #e5e2db;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 11px;
	color: #646464;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	padding: 0 72px 0 7px;
	line-height: 27px;
}

.server_map img {
	width: 46px;
	height: 31px;
	display: block;
	margin: -2px 0 -2px -2px;
}

.btns_of label {
	display: block;
	line-height: 21px;
	text-shadow: 0 1px 0 rgba(2, 1, 1, 0.2);
	font-size: 10px;
	color: #fff;
}

.radio_btn:checked + .radio_knopka, .restart, .p_pay:hover {
	background: #e2940c;
	color:#fff;
	text-decoration: none;
	background: -moz-linear-gradient(top,  #e2940c 0%, #d2660d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2940c), color-stop(100%,#d2660d));
	background: -webkit-linear-gradient(top,  #e2940c 0%,#d2660d 100%);
	background: -o-linear-gradient(top,  #e2940c 0%,#d2660d 100%);
	background: -ms-linear-gradient(top,  #e2940c 0%,#d2660d 100%);
	background: linear-gradient(to bottom,  #e2940c 0%,#d2660d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2940c', endColorstr='#d2660d',GradientType=0 );
}

.btns_of {
	display: inline-block;
	background: #3c3c3c;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 4px;
}

.btns_of label:first-child {
	border-right: 1px solid #2c2c2c;
}

.radio_btn {
	visibility: hidden;
	display: none;
}

.radio_knopka {
	font-style: normal;
	display: block;
	padding: 0 5px;
}

.restart {
	font-size: 10px;
	color: #fff;
	line-height: 21px;
	margin-top: 4px;
	border-radius: 3px;
	display: block;
	margin-left: 8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	padding: 0 15px;
}

.restart:hover {
	background: #3c3c3c;
	color: #fff;
	text-decoration: none;
}

.server_pay {
	padding-left: 11px;
	border-left: 1px dotted #4a4a4a;
}

.server_pay ul li {
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	color: #646464;
	border-bottom: 1px dotted #4a4a4a;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.server_pay ul li span {
	font-weight: normal;
	color: #d8780b;
}

.p_pay {
	display: block;
	float: right;
	background: #3d3d3d;
	border-radius: 3px;
	line-height: 22px;
	padding: 0 12px;
	font-size: 11px;
	color: #fff;
	margin: 28px 0 0 15px;
}

.progress_bar {
	background: #e5e2db;
	border-radius: 4px;
	height: 25px;
	overflow: hidden;
}

.bar_c {
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 11px;
	text-align: center;
	background: #e2940c;
	background: -moz-linear-gradient(top, #e2940c 0%, #d2660d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2940c), color-stop(100%,#d2660d));
	background: -webkit-linear-gradient(top, #e2940c 0%,#d2660d 100%);
	background: -o-linear-gradient(top, #e2940c 0%,#d2660d 100%);
	background: -ms-linear-gradient(top, #e2940c 0%,#d2660d 100%);
	background: linear-gradient(to bottom, #e2940c 0%,#d2660d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2940c', endColorstr='#d2660d',GradientType=0 );
	line-height: 25px;
}

.panel_grafik {
	background: #e5e2db;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	margin-top: 20px;
	position: relative;
	padding: 20px;
}

.grafik_title {
	position: absolute;
	float: right;
	background: #e5e2db;
	color: #646464;
	width: 315px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	bottom: inherit;
	line-height: 40px;
	text-align: center;
	top: -40px;
	right: 0;
}

.grafik_pict {
	margin-top: 20px;
}

.grafik_full {
	color: #646464;
}

.brd-right {
	border-left: 1px dotted #4a4a4a;
	padding-left: 10px;
	margin-left: 10px;
}

.grafik_full b {
	font-weight: bold;
	color: #d8780b;
}



.ss_block {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}



.server_block{
	margin-bottom: 10px;
}
.server_block>.dr_sans{
	float: left;
}

.server_block>i{
	display: block;
	width: 31px;
	height: 31px;
	margin-right: 7px;
}

.server_block span a {
	font-size: 11px;
	color: #646464;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
	display: block;
	padding-bottom: 5px;
	margin-bottom: 4px;
	border-bottom: 1px dotted #4a4a4a;
}

.server_block i {
	font-style: normal;
	font-size: 11px;
	display: block;
}

.server_block b {
	color: #d8780b;
	font-size: 10px;
}

.server_list {
	display: table;
}

.server_list li {
	width: 450px;
	padding-right: 36px;
	background: url(/img/lh/box.png) repeat-y right;
	padding-bottom: 20px;
}

.server_list li img[class="map_serv"] {
	width: 46px;
	height: 31px;
	display: block;
	margin-right: 8px;
}

.server_list li .right {
	width: 396px;
}

.server_list li .right .list_header {
	margin-bottom: 3px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #4a4a4a;
}

.server_list li .right .list_header img {
	width: 9px;
	display: block;
	height: 9px;
	margin: 3px 3px 0 0;
}

.server_list li .right .list_header a {
	display: block;
	font-weight: bold;
	color: #646464;
	margin-top: 2px;
}

.server_list li .right .list_header a:hover {
	text-decoration: underline;
}

.server_list li .right .list_header span {
	font-size: 9px;
	color: #d8780b;
	padding-left: 7px;
	margin-left: 7px;
	border-left: 1px dotted #4a4a4a;
}

.adress {
	font-size: 10px;
}

.adress span {
	color: #d8780b;
}

.server_list li:nth-child(even) {
	float: right;
	padding-right: 0;
	padding-left: 0;
	border-right: 0;
	background: none;
}

.server_list li:nth-child(even) img[class="map_serv"] {
	float: right;
	margin-left: 8px;
	margin-right: 0;
}

.server_list li:nth-child(even) .right {
	text-align: right;
	width: 363px;
}

.server_list li:nth-child(even) .right .list_header img {
	float: right;
	margin: 3px 0 0 3px;
}

.server_list li:nth-child(even) .right .list_header a {
	float: right;
}

.server_list li:nth-child(even) .right .list_header span {  
	margin-right: 7px;
	padding: 0 7px 0 0;
	border-right: 1px dotted #4a4a4a;  border-left: 0;
}

.second_border {
	border: 1px solid #dbdbdb;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #f7f6f4;
	padding: 13px;
}

.monit_full {
	margin-bottom: 0;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.monit_full .block_content {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.prev_page, .next_page {
	display: block;
	background: #e5e2db;
	border-radius: 4px;
	line-height: 17px;
	padding: 0 9px;
	font-size: 10px;
	color: #535353;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.prev_page:hover, .next_page:hover {
	background: #252525;
	color: #fff;
}

.paginator .pages a, .paginator .pages span {
	font-size: 11px;
	color: #535353;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.paginator .pages a:hover, .paginator .pages .active {
	color: #d8780b;
}

.paginator .pages {
	margin: 2px 7px;
}

.serv_name_img img[class="left"] {
	display: block;
	width: 31px;
	height: 31px;
	margin-right: 7px;
}

.my_servers li a[class="dr_sans"] {
	display: block;
	color: #646464;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.my_servers li i {
	display: inline-block;
	font-style: normal;
	border-top: 1px dotted #4a4a4a;
	margin-top: 4px;
	padding-top: 4px;
	font-size: 11px;
	color: #646464;
}

.my_servers li i b {
	color: #d8780b;
}

.my_servers li {
	padding-bottom: 10px;
	border-bottom: 1px dotted #4a4a4a;
	margin-bottom: 10px;
}

.my_servers li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}

.serv_name_img img[class="left"] {
	display: block;
	width: 31px;
	height: 31px;
	margin-right: 7px;
}

.my_servers li a[class="dr_sans"] {
	display: block;
	color: #646464;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.my_servers li i {
	display: inline-block;
	font-style: normal;
	border-top: 1px dotted #4a4a4a;
	margin-top: 4px;
	padding-top: 4px;
	font-size: 11px;
	color: #646464;
}

.my_servers li i b {
	color: #d8780b;
}

.serv_info {
	text-align: center;
	font-size: 11px;
	color: #646464;
	text-shadow: 0 1px 0 rgba(102, 102, 102, 0.1);
}

.serv_info .left {
	padding-right: 40px;
	border-right: 1px dotted #4a4a4a;
	margin-right: 40px;
}

.serv_info a {
	border-radius: 2px;
	padding: 0 5px;
	line-height: 13px;
	margin: 0 auto;
	display: table;
	font-size: 10px;
	margin-top: 5px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	background: #e49b1d;  background: -moz-linear-gradient(top,  #e49b1d 0%, #d5711f 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e49b1d), color-stop(100%,#d5711f));  background: -webkit-linear-gradient(top,  #e49b1d 0%,#d5711f 100%);  background: -o-linear-gradient(top,  #e49b1d 0%,#d5711f 100%);  background: -ms-linear-gradient(top,  #e49b1d 0%,#d5711f 100%);  background: linear-gradient(to bottom,  #e49b1d 0%,#d5711f 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e49b1d', endColorstr='#d5711f',GradientType=0 );
}

.serv_info a:hover {
	background: #252525;
}

.serv_options {
	height: 28px;
	background: #e3e2e0;
	padding: 0 9px;
	border-radius: 6px;
	margin-left: 80px;
}

.serv_options a {
	display: block;
	width: 13px;
	height: 16px;
	margin-right: 7px;
	border-right: 1px dotted #4b4a48;
	padding-right: 7px;
	margin-top: 6px;
}

.serv_options a:hover {
	opacity: 0.5;
}

.serv_options .ok {
	background: url(/img/lh/ok.png) no-repeat;
}

.serv_options .user {
	background: url(/img/lh/user.png) no-repeat;  
}

.serv_options .setting {
	background: url(/img/lh/setting.png) no-repeat;  
}

.serv_options .delete {
	background: url(/img/lh/del.png) no-repeat;  
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}
.error>.block_content{
	border-radius: 0px !important;
	color: #b94a48;

}
.error{
	border-radius: 0px !important;
	margin-bottom: 0px;
}
.block_speedbar{
	margin-bottom: 0px;
	-webkit-border-radius: 6px 6px 0px 0px !important;
	-moz-border-radius: 6px 6px 0px 0px !important;
	border-radius: 6px 6px 0px 0px !important;
}
.lh_table{
	background: #eeece7;
	padding: 1px;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	margin-bottom: 10px;
}
.lh_table .table{
	margin-bottom: 0px;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}
.lh_table .panel-default{
	margin-bottom: 0px;
	background: #f7f6f4;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}
.lh_table .panel-heading{
	border-top-right-radius: 6px !important;
	border-top-left-radius: 6px !important;
}
.no_radius{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.no_radius > .panel-default{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.paginator>.pages>span{
	margin-right: 5px;
}
.paginator>.pages>a{
	margin-right: 5px;
}
.paginator>.disabled{
	background: #252525;
	color: #fff;
}
.paginator>.disabled:hover{
	text-decoration: none;
	cursor: not-allowed;
}
.no_top{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}
.no_top .table{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}
.no_top .panel-default{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.server_pay .progress{
	background: #e5e2db;
	border-radius: 4px;
	height: 25px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 11px;
	text-align: center;
}
.server_pay .progress .progress-bar{
	background: linear-gradient(to bottom, #e2940c 0%,#d2660d 100%);
}
.txt_stats{
	position:absolute; top:50px;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#000;
	color: #fff;
	height:17px;
	width:151px;
	text-align: center;
	padding-top: 3px;
}
.buy_form>.input-group{
	margin-bottom: 10px;
}
.buy_form>.input-group>.input-group-addon{
	width: 150px;
	text-align: left;
}
.buy_form>.input-group>.form-control{
	width: 190px;
}

.progress {
	margin-bottom: 0px;
}
.carousel-caption {
	left: 15%;
	right: 15%;
}
.panel_grafik input{
	background: #fff;
	border: none;
	-webkit-box-sizing: content-box;
}



.elfinder {
margin-bottom: 10px;
background: #eeece7;
padding: 1px;
border: none;
}





